window#waybar {
	background: #282828;
        border-bottom: 2px solid #d65d0e;
	font-family: Dina;
}

#wireplumber
	{
	color: #ebdbb2;
	font-size: 16;
        background: rgba(0,0, 0, 0);
        border: 2px solid #3C3836;
        margin: 10px 0px 12px 5px;
	border-right: 0px solid rgba(0,0, 0, 0); 
        padding: 10px 1px 10px 10px;
}

tooltip {
	background: #282828;
	border: 2px solid #3C3836;
	border-radius: 0px 0px 0px 0px;
}

tooltip label {
	font-family: Dina;
	text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	font-size: 12px;
	color: #ebdbb2;
}

#mode {
	color: #ebdbb2;
	background: #282828;
	border: 2px solid #3C3836;
	margin: 10px 5px 12px 5px;
	padding: 5px 5px 5px 5px;
}

#workspaces button {
	color: #ebdbb2;
	background: #282828;
	border: 2px solid #3C3836;
	margin: 15px 0px 9px 5px;
	padding: 0px 5px 0px 5px;
	border-radius: 0px 0px 0px 0px;
}

#workspaces button.focused {
	color: #ebdbb2;
	background: #282828;
	border: 2px solid #3C3836;
	border-bottom: 2px solid #d65d0e;
}

#workspaces button.focused:hover {
	color: #ebdbb2;
	background: #282828;
	text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	border: 2px solid #3C3836;
	border-bottom: 2px solid #d79921;
}

#workspaces button:hover {
        color: #ebdbb2;
        background: #282828;
        text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        border: 2px solid #3C3836;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

#window {
	color: #ebdbb2;
	margin: 10px 5px 7px 5px;
}

#clock {
	color: #ebdbb2;
        background: #282828;
        border: 2px solid #3C3836;
        margin: 10px 5px 7px 5px;
	font-size: 12px;
	padding: 5px 10px 5px 10px; 
}

#battery {
	color: #ebdbb2;
	font-family: Cozette;
	background: rgba(0, 0, 0, 0);
	border: 2px solid #3C3836;
	font-size: 20px;
	border-left: 0px solidrgba(0,0, 0, 0); 
	border-right: 0px solid rgba(0, 0, 0, 0);
	margin: 10px 0px 7px 0px;
	padding: 5px 5px 5px 10px;
}

#battery.bat2 {
        color: #ebdbb2;
	background: rgba(0, 0, 0, 0);
        font-family: Cozette;
        border: 2px solid #3C3836;
        font-size: 20px;
        border-left: 0px solid rgba(0, 0, 0, 0);
        margin: 10px 5px 12px 0px;
        padding: 10px 10px 10px 5px;
}
